<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beylands About Us</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script> -->
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/about-style.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
    </body>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="logo">
            <div class="logo-word">
                <a href="/">
                    <h1>BEY<span>LANDS</span></h1>
                </a>
            </div>
        </div>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-btn collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <a href="/" class="nav-link">HOME</a>
                <a href="/shop" class="nav-link">SHOP</a>
                <a href="/services" class="nav-link">SERVICES</a>
                <a href="/contact" class="nav-link">CONTACT US</a>
                <a href="/about" class="nav-link">ABOUT US</a>
            </ul>
        </div>

    </nav>

    <div class="header">
        <!-- PICTURE HERE -->
        <h1>About Us</h1>
    </div>
    <div class="wrapper-about-info">

        <div class="about-info-picture">
            <!-- INSERT HERE -->

        </div>
        <div class="about-info-message">
            <!-- INSERT HERE -->
            <br>
            <h1>ABOUT US</h1>
            <p>“<spans>BEYLANDS</spans>” stands for the first letter of the family’s name and last name, Bea, Erin,
                Ycel, Luciana, Ariane, Norberto Delos Santos. The business started as a supplier of
                janitorial supplies in the whole province of Batangas. Beylands Sales and Service
                Specialist is primarily engaged in the business of direct selling activities of various
                janitorial and housekeeping supplies which are of high quality but at reasonable cost.
                Such products are manufactured by well-known manufacturing companies local and
                international guaranteed to be effective in line of janitorial and housekeeping processes
                for residential, commercial and industrial establishments and other institutional concerns.
                <br>
                <br>
                The Company implements policies and directions promulgated by the owner, who has
                distinguished herself in the respective lines of endeavor known for her integrity and fair
                dealing. Beylands Sales and Service Specialist prides itself with high quality,
                economical products and competitive pricing</p>
        </div>
    </div>

    <div class="about-contact-top">
        <!-- INSERT HERE -->
        <h1>Contact Us</h1>
        <button type="submit" class="btn btn-primary">CALL US AT ###########</button>
    </div>

    <div class="wrapper-about-MVQ">
        <div class="mission">
            <!-- INSERT HERE -->
            <h1>Mission</h1>
            <p><br>
                Our mission is to be a successful company built with trust and respect
                and which values long term relationships with our valued customers and
                suppliers alike and to achieve solid business performance by providing high
                quality products and services</p>
        </div>
        <div class="vision">
            <!-- INSERT HERE -->
            <h1>Vision</h1>
            <p><br>
                At Beylands, our vision is to be a company worth of respect and trust in
                the eyes of our customers and suppliers and of all the people who will know
                this company which values fair play and customers’ satisfaction.</p>
        </div>
        <div class="quality-policy">
            <!-- INSERT HERE -->
            <h1>Quality Policy Statement</h1>
            <p><br>
                Our mission is to be a successful company built with trust and respect
                and which values long term relationships with our valued customers and
                suppliers alike and to achieve solid business performance by providing high
                quality products and services</p>
        </div>
    </div>

    <div class="wrapper-management">
        <div class="management-ceo">
            <!-- INSERT HERE -->
            <img src="public/Image/beylands.jpg" class="img-thumbnail" alt="Cinque Terre">

        </div>
        <div class="management-employee">
            <!-- INSERT HERE -->
        </div>
    </div>
    <div class="about-contact-bot">
        <!-- INSERT HERE -->
    </div>
    <div class="footer"></div>

    <script src="public/js/app.js"></script>

</html>