<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beylands About Us</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script> -->
    <!-- font title -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap" rel="stylesheet">
    <!-- end font tile -->
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/about-style.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    </body>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="logo">
            <div class="logo-word">
                <a href="/">
                    <h1>BEY<span>LANDS</span></h1>
                </a>
            </div>
        </div>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-btn collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <a href="/" class="nav-link">HOME</a>
                <a href="/store" class="nav-link">STORE</a>
                <a href="/services" class="nav-link">SERVICES</a>
                <a href="/contact" class="nav-link">CONTACT US</a>
                <a href="/about" class="nav-link"><span class="open">ABOUT US</span></a>
            </ul>
        </div>

    </nav>

    <div class="wrapper container-fluid">
        <h2 class="text-center" style="margin: 1.5rem; font-size: 40px; color:#39ca74;
                     font-family: 'Montserrat', sans-serif; ;letter-spacing: 1px; font-weight: 700;">
            ABOUT US
        </h2>
        <hr>

        <div class="wrapper-about-info container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="about-info-picture">
                        <img src="/public/Image/beylands.jpg" alt="" class=" img-fluid" style="padding: 0;">

                    </div>
                </div>

                <div class="col-xs-1 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="about-info-message">
                        <h2 style="font-size: 32px; color:#39ca73;
                     font-family: 'Poppins', arial, sans-serif; font-weight: bold;" class="text-center">
                            <center> BEYLANDS</center> SALES AND SERVICES SPECIALIST
                        </h2>

                        <p style="text-justify: inter-word;text-align: justify;">“<spans>BEYLANDS</spans>” stands for
                            the first letter of
                            the
                            family’s name and last name,
                            Bea,
                            Erin,
                            Ycel, Luciana, Ariane, Norberto Delos Santos. The business started as a supplier of
                            janitorial supplies in the whole province of Batangas. Beylands Sales and Service
                            Specialist is primarily engaged in the business of direct selling activities of various
                            janitorial and housekeeping supplies which are of high quality but at reasonable cost.
                            Such products are manufactured by well-known manufacturing companies local and
                            international guaranteed to be effective in line of janitorial and housekeeping processes
                            for residential, commercial and industrial establishments and other institutional concerns.
                            <br>
                            <br>
                            The Company implements policies and directions promulgated by the owner, who has
                            distinguished herself in the respective lines of endeavor known for her integrity and fair
                            dealing. Beylands Sales and Service Specialist prides itself with high quality,
                            economical products and competitive pricing</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="about-contact-top container-fluid text-center">
            <div class="col-xs-1 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2 style="margin: 1.5rem; font-size: 40px; color:#ffffff;
                     font-family: 'Montserrat', sans-serif; ;letter-spacing: 1px; font-weight: 700;">
                    Contact Us
                    <hr>
                </h2>
            </div>
            <h4 class="text-dark container-fluid">If you have any concern or question about our products or
                services, please don't
                hesitate to contact
                us</h4>
            <br>
            <a href="/contact">
                <button type="submit" class="btn btn-primary" style="width:300px; font-size: 25px;">Ask us about
                    anything</button>
            </a>
            <br>
            <br>
        </div>

        <div class="wrapper-about-MVQ container-fluid">
            <div class="row">
                <div class="col-xs-1 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                    <br>
                    <div class="mission">
                        <!-- INSERT HERE -->
                        <h1>Mission</h1>
                        <hr>
                        <p class="text-dark"><br>
                            Our mission is to be a successful company built with trust and respect
                            and which values long term relationships with our valued customers and
                            suppliers alike and to achieve solid business performance by providing high
                            quality products and services</p>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                    <br>
                    <div class="vision">

                        <h1>Vision</h1>
                        <hr>
                        <p class="text-dark"><br>
                            At Beylands, our vision is to be a company worth of respect and trust in
                            the eyes of our customers and suppliers and of all the people who will know
                            this company which values fair play and customers’ satisfaction.</p>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                    <br>
                    <div class="quality-policy">
                        <h1>Quality Policy Statement</h1>
                        <hr>
                        <p class="text-dark"><br>
                            Our mission is to be a successful company built with trust and respect
                            and which values long term relationships with our valued customers and
                            suppliers alike and to achieve solid business performance by providing high
                            quality products and services</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-management container-fluid">
            <div class="row">
                <div class="management-ceo">
                    <div class="col-xs-1 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <img src="/public/Image/placeholder.png" class="img-fluid" alt="CEO">
                    </div>
                    <div class="col-xs-1 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                        <div class="management-ceo-info">
                            <br>
                            <h2 style="font-size: 40px; color:#39ca74;
                     font-family: 'Montserrat', sans-serif; font-weight: 700;">
                                Luciana Delos Santos
                            </h2>
                            <h2 style="font-size: 20px; color:#00000063;
                     font-family: 'Montserrat', sans-serif; font-weight: 600;">
                                CEO / Genaral Manager
                            </h2>
                            <br>
                            <h2 style="font-size: 20px; color:#000000a6;
                     font-family: 'Poppins',
                     sans-serif;">
                                <p>
                                    Ms. Luciana is the CEO and the General Manager.
                                </p>
                                <p>
                                    Her experience in the business
                                    is boundless and innovative.
                                    Her career in the industry begins when she joined in as private firm for almost 14
                                    years. With her hard work and determination, she decides to put her own business
                                    in the cleaning industries and supplies in the same year.
                                </p>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="management-employee container-fluid text-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                    <div class="management-employee-1 container-fluid">

                        <img src="/public/Image/placeholder.png" class="img-fluid" alt="Cinque Terre">

                        <div class="management-employee-text">
                            <h2 style="font-size: 35px; color:#39ca74;
                     font-family: 'Montserrat', sans-serif; font-weight: 700;">
                                Marc Kevin Cruz
                            </h2>
                            <h2 style="font-size: 20px; color:#00000063;
                     font-family: 'Montserrat', sans-serif; font-weight: 600;">
                                Purchasing Officer
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                    <div class="management-employee-1 container-fluid">

                        <img src="/public/Image/placeholder.png" class="img-fluid" alt="Cinque Terre">

                        <div class="management-employee-text">
                            <h2 style="font-size: 35px; color:#39ca74;
                     font-family: 'Montserrat', sans-serif; font-weight: 700;">
                                Ycel Lazarte
                            </h2>
                            <h2 style="font-size: 20px; color:#00000063;
                     font-family: 'Montserrat', sans-serif; font-weight: 600;">
                                Administrative Assistant
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                    <div class="management-employee-1 container-fluid">

                        <img src="/public/Image/placeholder.png" class="img-fluid" alt="Cinque Terre">
                        <div class="management-employee-text">
                            <h2 style="font-size: 33px; color:#39ca74;
                     font-family: 'Montserrat', sans-serif; font-weight: 700;">
                                Kenneth Gerard Clarin
                            </h2>
                            <h2 style="font-size: 20px; color:#00000063;
                     font-family: 'Montserrat', sans-serif; font-weight: 600;">
                                Sales Marketing Officer
                            </h2>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="footer container-fluid">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="footer-left" style="margin: 2rem;">
                        <h5>ABOUT US</h5>
                        <hr>
                        <h5 style="color: rgba(0, 0, 0, 0.597);">Beylands stands for the first letter of the
                            family’s
                            name
                            and last name, Bea, Erin,
                            Ycel, Luciana, Ariane, Norberto Delos Santos. The business started as...<a href="/about"
                                style="text-decoration: none;color: rgb(48, 159, 243)">read
                                more</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="row container-fluid">
                <div class="col text-center container-fluid">
                    <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="footer-social" style="margin: 2rem;">
                            <h5>SOCIAL</h5>
                            <hr>
                            <a href="https://web.facebook.com/beylandssales/">
                                <img src="/public/Image/facebook.png" alt="facebook" style="width:40px; height:40px">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col text-center container-fluid">
                    <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="footer-certificate" style="margin: 2rem;">
                            <h5>LICENSES AND PERMITS</h5>
                            <hr>
                            <img src="/public/Image/dti.png" alt="DTI" class="img-fluid"
                                style="width:100px; height:100px">
                            <img src="/public/Image/proc.png" alt="Procuremnet Service" class="img-fluid"
                                style="widows: 100px; height:100px">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                    <div class="footer-bottom container-fluid text-center">
                        <h1>BEY<span>LANDS</span></h1>
                        <br>
                        © Copyright 2020 Beylands Sales and Service Specialist | All Rights Reserved
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="public/js/app.js"></script>
</body>


</html>