<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beylands Contact Us</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script> -->
    <!-- font title -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap" rel="stylesheet">
    <!-- end font tile -->
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/contact-style.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
    </body>
</head>

<body>
    <nav class="navbar navbar-expand-md">
        <div class="logo">
            <div class="logo-word">
                <a href="/">
                    <h1>BEY<span>LANDS</span></h1>
                </a>
            </div>
        </div>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-btn collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <a href="/" class="nav-link">HOME</a>
                <a href="/store" class="nav-link">STORE</a>
                <a href="/services" class="nav-link">SERVICES</a>
                <a href="/contact" class="nav-link"><span class="open">CONTACT US</span></a>
                <a href="/about" class="nav-link">ABOUT US</a>
            </ul>
        </div>

    </nav>

    <div class="wrapper" id="wrapperID">
        <div class="header">
            <!-- PICTURE HERE -->
            <div class="service-form">
                <div class="service-form-field">
                    <h2>Do you have any Question?</h2>
                    <form action="/send-question-confirmation" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Name" name="name">
                        </div>
                        <div class="form-group">
                            <input type="email" class=" form-control" id="exampleInputPassword1"
                                placeholder="Email Address" name="email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputPassword1"
                                placeholder="Mobile Number" name="number">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                                placeholder="Message" name="message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="service-form-message">
                    <center>
                        <h2>BEYLANDS</h2>
                        <h2>Sales and Service Specialist</h2>
                        <br>
                    </center>
                    <img src="/public/Image/loc.png" alt="location" srcset="">
                    <h4>Location</h4>
                    <br>
                    <img src="/public/Image/mobile.png" alt="mobile" srcset="">
                    <h4>Cellphone Number</h4>
                    <br>
                    <img src="/public/Image/mobile.png" alt="mobile" srcset="">
                    <h4>Cellphone Number</h4>
                    <br>
                    <img src="/public/Image/email.png" alt="email" srcset="">
                    <h4>Email</h4>
                </div>
            </div>

        </div>

        <div class="footer">
            <div class="footer-left" style="margin: 2rem;">
                <h5>ABOUT US</h5>
                <hr>
                <h5 style="color: rgba(0, 0, 0, 0.597);">Beylands stands for the first letter of the family’s name
                    and last name, Bea, Erin,
                    Ycel, Luciana, Ariane, Norberto Delos Santos. The business started as...<a href="/about"
                        style="text-decoration: none;color: rgb(48, 159, 243);">read
                        more</a>
                </h5>
            </div>
            <div class="footer-social" style="margin: 2rem;">
                <h5>SOCIAL</h5>
                <hr>

                <a href="https://web.facebook.com/beylandssales/">
                    <img src="/public/Image/facebook.png" alt="facebook" style="width:40px; height:40px">
                </a>
            </div>
            <div class="footer-certificate" style="margin: 2rem;">
                <h5>LICENSES AND PERMITS</h5>
                <hr>
                <img src="/public/Image/dti.png" alt="DTI" style="width:100px; height:100px">
                <img src="/public/Image/proc.png" alt="Procuremnet Service" style="widows: 100px; height:100px">

            </div>
            <div class="footer-bottom">
                <h1>BEY<span>LANDS</span></h1>
                <br>
                © Copyright 2020 Beylands Sales and Service Specialist | All Rights Reserved
            </div>

        </div>
    </div>
    <script src="./js/app.js"></script>
</body>

</html>