.header{
    width: 100%;
    height: 150px;
    margin-top: 92px;
    background: gray;
}
h1,
p{
    text-align: center;
}
.header h1{
    padding: 1rem;
}
.wrapper-about-info{
    width: 100%;
    height:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-info-picture{
    width: 100%;
    
    background: rgb(201, 138, 75);
    }
.about-info-message{
    width: 100%;

    /* background: blue; */
}
.about-info-message p{
    text-align: center;  
    font-size: 20px;
    padding: 2rem;
    height: 100%;
}
.about-contact-top{
    width: 100%;
    height: 250px;
    background: gray;
}
.about-contact-top {
    text-align: center;
}
.wrapper-about-MVQ{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.mission,
.vision,
.quality-policy {
    width: 100%;
    height: 500px;
    padding: 2rem;
    /* background: hotpink; */
}
.wrapper-management {
    width: 100%;
    height: auto;
     display: grid;
     grid-template-rows: 1fr 1fr;
}
.management-ceo{
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.219);

}
.management-ceo img{
    width: 30%;
    height: 60%;
    
}
.management-employee{
    width: 100%;
    height: 500px;
    background: rgba(31, 31, 31, 0.219);
}
.about-contact-bot{
    width: 100%;
    height: 200px;
    background: blue;
}