.header {
    width: 100%;
    height: auto;
    padding: 0%;
    background: white;
}
.wrapper {
    height: auto;
    position: absolute;
    top: 12%;
    padding: 0%;
    overflow-x: hidden;
}
.service-form {
    /* width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   background: #4dc475;
  font-family: 'Poppins',
  sans-serif; */
    width: 100%;
    height: auto;
    z-index: 0;
    background: #4dc475;
    font-family: 'Poppins',
    sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service-form h2 {
    color: rgb(255, 255, 255);
    font-size: 39px;
    letter-spacing: -1px;
    text-shadow: 1px 1px gray;
}

.service-form h5 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 50px;
    letter-spacing: -1px;
}

.service-form-message {
    /* background: rgb(168, 166, 166); */
    border-color: black;
    width: auto;
}
.service-form-message ul{
     list-style-type: square;
     color: white;
     margin-left: 2rem;
}
.service-form-message img{
    width: 33px;
    height: 33px;
}

.service-form-field {
   margin: auto;
}

.service-form-field textarea {
    resize: none;
}
.footer{
    margin-top:1rem;
}