.header {
    width: 100%;
    height: 500px;
    margin-top: 6%;
    background: white;
}
.wrapper {
    height: auto;
    position: absolute;
    top: 79%;
}

.service-form {
    margin-top: 6%;
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background: #39ca74; */
    background:-webkit-gradient(linear, right top, left top, color-stop(1, #25da6e), color-stop(0, #39ca74));
    position:fixed;
    z-index: 0;
}

.service-form h2 {
    color: rgb(255, 255, 255);
    font-size: 39px;
    letter-spacing: -1px;
    text-shadow: 1px 1px gray;
}

.service-form h5 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 50px;
    letter-spacing: -1px;
}

.service-form-message {
    /* background: rgb(168, 166, 166); */
    border-color: black;
    margin: auto 4rem auto 0px;
    height: 90%;
}
.service-form-message img{
    width: 33px;
    height: 33px;
}

.service-form-field {
    margin: auto 2rem auto 4rem;
}

.service-form-field textarea {
    resize: none;
}