.service-form {
    /* margin-top: 1rem; */
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #39ca74;
    /* border-style: dotted; */

}
.wrapper {
    height: auto;
    position: absolute;
    top: 92%;
}
.service-form {
    /* margin-top: 1rem; */
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #39ca74;
    /* border-style: dotted; */
}

.service-form h2 {
    color: rgb(255, 255, 255);
    font-size: 39px;
    letter-spacing: -1px;
    text-shadow: 1px 1px gray;
}

.service-form h5 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 50px;
    letter-spacing: -1px;
}

.service-form-message {
    /* background: rgb(168, 166, 166); */
    border-color: black;
    margin: auto 0px auto 4rem;

}

.service-form-field {
    margin: auto 4rem auto 0px;
}

.service-form-field textarea {
    resize: none;
}