/* .navbar{
    border-collapse: collapse;
    position: fixed;
} */
/* This css is for store page */
.cont-shop-wrapper{
    width: 100%;
    height: 500px;
    background: rgb(129, 165, 129);
}
.wrapper {
    height: auto;
    position: absolute;
   top: 11.5%;
}
