*{
    margin: 0;
    padding: 0;
}
.navbar{
    /* background-color: #282828; */
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #282828, #424242 );
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom:white;
    border-bottom-style: outset;
}
.logo{
    padding-top: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
}
.logo a{
    text-decoration: none;   
}
.logo-word{
    width: 250px;
}
h1 {
    font-family: 'Alfa Slab One', cursive;
    color: #39ca74;
    padding: 0;
}
span {
    color: yellow; 
}
.nav-btn{
    display: block;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}
.nav-btn a{
    width: auto;
    text-align: center;
    margin-right: 1rem;
    color: white;
    /* padding: 0.5rem; */
    cursor: pointer;
    /* background: green; */
}
.nav-btn a:hover{
    transition: all 0.5s;
    transform: scale(1.1);
}
.carousel{
    margin-top: 85px;
   width: 100%;
   position:fixed;
}
.carousel slide{
    background: black;  
}
.carousel img{
    width: 100%;
    height: 550px;  
    /* background-repeat: no-repeat; */
}
.carousel-control-prev, 
.carousel-control-next {
   width:5%;
}
.wrapper{
    height: auto;
    position: absolute;
    top: 92%;
}
.info{
    /* margin-top: 1rem; */
    background-color:white;
    width: 100%;
    height: 800px;
    border-color: black;
    border-style: dotted;
}
.service-form{
     /* margin-top: 1rem; */
     width: 100%;
     height: 500px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     background: rgb(255, 255, 255);
}
.service-form-message{
    /* background: rgb(168, 166, 166); */
    border-color: black;
    border-style: dotted;
}
.service-form-field{
    background: white;
    margin: 2rem;
}
.service-form-field textarea{
    resize: none;
}
.contact{
    width: 100%;
    height: 300px;
    background: hotpink;
}
.footer{
     width: 100%;
     height: 300px;
     background:brown;
}