*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* html{
    font-size: calc(0.5vh + 1vw + 30%);
} */
.navbar{
    /* background-color: #282828; */
    padding: 0;
    margin: 0;
    /* background: linear-gradient(180deg, #282828, #424242 ); */
    /* background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #282828), color-stop(1, #424242)); */
    /* background: #24272d; */
    background: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom:#39ca73;
    border-bottom-style: inset;
}
.logo{
    padding-top: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
}
.logo a{
    text-decoration: none;   
}
.logo-word{
    width: 250px;
}
h1 {
    font-family: 'Alfa Slab One', cursive;
    color: #39ca74;
    padding: 0;
}
span {
    color: yellow; 
}
.nav-btn{
    display: block;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}
.nav-btn a{
    width: auto;
    text-align: center;
    margin-right: 1rem;
    color: #39ca739a;
    font-family: 'Montserrat',
    sans-serif;
    cursor: pointer;
    font-weight: 700;
}
.open{
     color: #39ca73;
}
.nav-btn a:hover{
    transition: all 0.5s;
    transform: scale(1.1);
    color: #39ca73;
}
.carousel{
    margin-top: 85px;
    width: 100%;
    position:fixed;
    z-index:0;
}
.carousel slide{
    background: black;  
}
.carousel img{
    width: 100%;
    height: 550px;  
    /* background-repeat: no-repeat; */
    
}
.carousel-control-prev, 
.carousel-control-next {
   width:5%;
}
.footer{
    width: 100%;
    height: 340px;
    color:black; 
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #282828), color-stop(1, #424242)); */
     border-top:#39ca73;
     border-top-style: outset;
}
hr{
    background: white;
}
.footer-bottom{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    
}